.mypy_cache/
.direnv/
result/
env/
bootstrap/
index.html
www/aws/ec2/*.html
www/aws/elasticache/*.html
www/aws/opensearch/*.html
www/aws/rds/*.html
www/aws/redshift/*.html
www/**/*.json
www/*.xml
www/about.html